.burger {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(241, 221, 221, 0.001);
  position: fixed;
  color: white;
  align-self: flex-end;
  padding: 0;
  margin: 0;
  position: absolute;
  z-index: 1;
}

.burger-links {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 300px;
  top: 106px;
  margin-right: 10px;
  width: 102px;
  z-index: 1;
  font-size: 30px;
  /* background-color: brown; */
}

nav {
  display: flex;
  justify-content: flex-end;
  /* position: absolute; */
  height: 150px;
  width: 160px;
}

.menu-item {
  font-weight: bolder;
  text-decoration: none;
  color: rgb(255, 255, 255);
  margin-left: 5px;
  /* TEST */
  /* TEST */
}

.menu-item:hover {
  color: rgb(173, 170, 206);
}

.burger-links span {
  display: none;
  color: white;
}

.menu-item:hover ~ .burger-links span {
  color: rgb(255, 255, 255);
  display: flex;
}

#menuToggle {
  /* overflow: hidden;
  position: absolute; */
  margin-top: 20px;
  margin-right: 10px;
  padding-top: 10px;
  padding-right: 15px;
  padding-left: 7px;
  width: 50%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* TEST */
  /* TEST */
}

#menuToggle:hover {
  background-color: rgba#87ad98;
}

#menuToggle input {
  display: flex;
  width: 90px;
  height: 90px;
  position: absolute;
  cursor: pointer;
  opacity: 0; /* hide input */
  z-index: 1; /* top of the menu */
}

#menuToggle span {
  width: 60%;
  height: 3px;
  margin-bottom: 10px;
  background: #7f8fa6;
  border-radius: 6px;
  -webkit-transition: all 0.5s cubic-bezier(0.08, 0.81, 0.87, 0.71);
  -moz-transition: all 0.5s cubic-bezier(0.08, 0.81, 0.87, 0.71);
  -ms-transition: all 0.5s cubic-bezier(0.08, 0.81, 0.87, 0.71);
  -o-transition: all 0.5s cubic-bezier(0.08, 0.81, 0.87, 0.71);
  transition: all 0.5s cubic-bezier(0.08, 0.81, 0.87, 0.71);
}

#spanx1 {
  background-color: #36497a;
  transform: rotate(45deg) translate(9px);
}
#spanx2 {
  background-color: #36497a;
  transform: rotate(495deg) translate(-9px);
}
#spanx3 {
  background-color: #36497a;
  transform: rotate(45deg);
  opacity: 0;
}

/* #span1 {
  transform-origin: 8px -2px;
}

#span3 {
  transform-origin: bottom right;
}

#menuToggle input:checked ~ #span1 {
  background-color: #36497a;
  transform: rotate(45deg) translate(8px);
}
#menuToggle input:checked ~ #span2 {
  background-color: #36497a;
  transform: rotate(495deg) translate(4px);
}
#menuToggle input:checked ~ #span3 {
  background-color: #36497a;
  transform: rotate(45deg);
  opacity: 0;
} */

/* #span1 {
  transform-origin: 8px -2px;
}

#span3 {
  transform-origin: bottom left;
} */
