.burger {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(75, 70, 70, 0.001);
  position: fixed;
  width: 150px;
  height: 130px;
  color: white;
  align-self: flex-end;
  padding: 0;
  margin: 0;
  z-index: 1;
}

.burger-links {
  margin-right: all 1s ease-out;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 550px;
  top: 130px;
  width: 150px;
  z-index: 1;
}

nav {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  height: 150px;
  width: 100vw;
}
