.main-div {
  display: flex;
  flex-direction: column;
  justify-content: end;
  font-size: 30px;
  color: aliceblue;
  /* background-color: teal; */
  position: absolute;
  /* transform: translate(-80%, -35%); */
  align-self: center;
  top: 40%;
  left: 5%;
  height: 35vh;
  margin-right: 2%;
}

.home {
  font-size: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 5%;
  position: relative;
  color: rgb(255, 255, 255);
  width: 100%;
}

.buttons {
  /* background-color: tomato; */
  height: 20%;
}

.home h1,
.home h2,
.home p {
  padding: 10px;
  margin: 0;
}
