.main-div {
  display: flex;
  flex-direction: column;
  justify-content: end;
  font-size: 30px;
  color: aliceblue;
  /* background-color: teal; */
  position: absolute;
  /* transform: translate(-80%, -35%); */
  align-self: center;
  top: 40%;
  left: 5%;
  height: 35vh;
  margin-right: 2%;
}

.home {
  font-size: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 5%;
  position: relative;
  color: rgb(255, 255, 255);
  width: 100%;
}

.buttons-div {
  display: flex;
  justify-content: space-between;
  height: 20%;
  max-width: 50%;
}

.buttons-div a {
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: color 150ms ease-in-out;
  width: 130px;
  height: 60px;
  border: 1px solid white;
  font-weight: bold;
  border-radius: 5px;
  font-size: 20px;
}

.buttons-div a:hover {
  box-shadow: 0 0 40px 40px rgba(255, 255, 255, 0.9) inset;
  transition: all 0.3s ease-in-out;
  color: rgb(22, 19, 63);
}

/* .button2 {
  margin-left: 250%;
} */

.home h1,
.home h2,
.home p {
  padding: 10px;
  margin: 0;
}
