@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,100&display=swap");

.App {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  align-items: flex-end;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #050716;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  font-family: "Roboto", sans-serif;
}

.canvas {
  display: contents;
  vertical-align: bottom;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: white;
}

.contact-me,
.about-me,
.projects {
  position: absolute;
  color: white;
  align-self: center;
}
